<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="landing">
        <h1 class="centered title">Word Search Generator</h1>
        <form action = "/" method = "POST" class="centered formtext">
            Enter Words Separated By Spaces: 
            <br>
            <input type="text" name="words" value="" class="word_input formtext">
            <br>
            <input type="submit" value="Create My Puzzle!" >
        </form>
        <h2 class="centered">Too many words! Reduce the number of words and try again.</h2> 
        </div>
    </body>
</html>